---
export interface Props {
  class?: string
  background?: string
  spacing?: 'normal' | 'large'
}

const {
  class: className = '',
  background = '',
  spacing = 'normal'
} = Astro.props

const spacingClasses = {
  normal: 'pb-20 lg:pb-32 pt-5 lg:pt-5',
  large: 'pb-24 sm:pb-32 pt-5 lg:pt-5'
}
---

<section class={`${spacingClasses[spacing]} ${background} ${className}`}>
  <slot />
</section>
